# Django
django>=2.1.5
django-environ

# Postgres SQL
psycopg2-binary

# MongoDB
djongo
pymongo
django-redis

# Image Support
Pillow

# Cloud Storage
cloudinary

# Authentication
django-otp
django-two-factor-auth
twilio
qrcode

# REST API Support
coreapi
django-rest-swagger
djangorestframework>=3.7.7
djangorestframework-httpsignature
djangorestframework_simplejwt
django-oauth-plus
django-oauth2-provider
oauth2
django-filter>=2.0.0
djangorestframework-jsonapi>=2.6.0

# Models
django-polymorphic

# Server
django-livereload-server
django-cors-headers

# Seeding data
Faker
pycountry

# Markdown Support
markdown

##### end
##########################
##########################
##########################
